
  <mat-card>
    
    <!-- Form wrapper with Angular Reactive Forms setup -->
    <form class="formbg" [formGroup]="userForm" (ngSubmit)="onSave()">
        <h2> Hobbies Form</h2>

      <!-- First Name input field with validation -->
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput id="firstName" formControlName="firstName">
        <mat-error *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched">
          First Name is required.
        </mat-error>
      </mat-form-field>
  
      <!-- Last Name input field -->
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput id="lastName" formControlName="lastName">
      </mat-form-field>
  
      <!-- Date of Birth input field with date picker and validation -->
      <mat-form-field appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" id="dateOfBirth" formControlName="dateOfBirth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="userForm.get('dateOfBirth')?.invalid && userForm.get('dateOfBirth')?.touched">
          Date of Birth is required.
        </mat-error>
      </mat-form-field>
  
      <!-- Age input field (readonly, calculated automatically) -->
      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input matInput id="age" formControlName="age" readonly>
      </mat-form-field>
  
      <!-- Hobbies dynamic form array -->
      <div formArrayName="hobbies" style="position: relative;">
        <label>Your Hobbies:</label>
        <button mat-raised-button color="primary" type="button" (click)="addHobby()">Add Hobby</button>
        <div *ngFor="let hobby of hobbies.controls; let i=index" style="display: flex;">
          <mat-form-field appearance="outline" class="mt-2" style="width: 345px;
          ">
            <input  matInput [formControlName]="i" placeholder="Hobby">
          </mat-form-field>
          <button class="delete_btn" mat-icon-button color="warn" type="button" (click)="removeHobby(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <mat-error *ngIf="hobbies.invalid && (hobbies.dirty || hobbies.touched)">
          You must have at least one hobby.
        </mat-error>
      </div>
  
      <!-- Save button -->
      <button class="btn_save" mat-raised-button color="accent" type="submit">Save</button>
    </form>
  </mat-card>
  